{% extends "base.html.twig" %}

{% block title %}Création d'un livre{% endblock %}
{% block content %}
<p>&larr;&nbsp;<a href="/index.php">Retourner à la liste</a></p>
<form action="/create.php" method="post">
        <label for="title">Titre :</label>
        <input type="text" id="title" name="title">

        <label for="author">Auteur :</label>
        <input type="text" id="author" name="author">

        <label for="author">Siècle :</label>
        <input type="number" id="century" name="century">

        <button type="submit">Ajouter</button>
</form>
{% endblock %}