{% extends "base.html.twig" %}

{% block title %}Document ""{% endblock %}
{% block content %}
    <p>&larr;&nbsp;<a href="/index.php">Retourner à la liste</a></p>
    affichez le contenu d'un document de la liste
{% endblock %}